<%- include ../partials/header %>  <%- include ../partials/categories-navbar %>
<div id="prod-description">
  <div class="text-center hero-container">
    <img class="d-block w-100 hero-image" src="/images/description.jpg" />
    <div class="hero-text">
      <h1>
        <%=__('description')%>
      </h1>
    </div>
  </div>
  <!-- Flash messages -->
  <div class="row mt-3 mb-3">
    <div class="col-md-12 m-auto">
      <% if (successMsg) { %>
      <div id="success" class="alert alert-success">
        <%= successMsg %>
      </div>
      <% } else { %>
      <div id="success" class="alert alert-success d-none"></div>
      <% } %>
    </div>
    <div class="col-md-12 m-auto">
      <% if (errorMsg) { %>
      <div id="error" class="alert alert-danger">
        <%= errorMsg %>
      </div>
      <% } else { %>
      <div id="error" class="alert alert-danger d-none"></div>
      <% } %>
    </div>
  </div>
  <!-- Product info -->
  <div class="row mt-4 mb-4" style="padding: 0px 5px;">
    <div class="col-md-5 mt-2 mr-2 ml-auto">
      <img
        src="<%=product.imagePath%>"
        class="img-fluid product-img"
        alt="product image"
      />
    </div>
    <div class="col-md-5 mt-2 mb-2 ml-2 mr-auto text-dark">
      <h2><%=product.title%></h2>
      <hr />
      <p class="price">€ <%=product.price%></p>
      <p class="lead"><%= __('description')%>: 
        <p><%=product.description%></p>
      </p>
      
      <p><strong><%= __('category')%>:</strong> <%=product.category.title%></p>
      <p><strong><%= __('brand')%>: </strong><%=product.manufacturer%></p>
      <p><strong><%= __('product_code')%>:</strong> <%=product.productCode%></p>
      <% if(product.available) {%>
      <p class="is-available text-center"><%= __('in_stock')%></p>
      <a href="/add-to-cart/<%=product._id%>" class="btn btn-block btn-pink mt-3 mb-3 button-style">
        <%= __('add_to_cart') %>
      </a>
      <% } else { %>
      <p class="is-not-available text-center"><%= __('sold_out') %></p>
      <%} %>
    </div>
  </div>
</div>
<%- include ../partials/footer %>
