<%- include ../partials/header %>
  <%- include ../partials/categories-navbar %>
    <div class="text-center hero-container">
      <img class="d-block w-100 hero-image" src="/images/checkout.jpg" />
      <div class="hero-text">
        <h1>
          <%=__('shopping_cart_content')%>
        </h1>
      </div>
    </div>
    <div class="container-fluid cart">
      <% if (cart !=null && !cart.paid ) { %>
        <div class="row mt-5">
          <div class="col-md-11 col-sm-12 m-auto table-responsive">
            <table class="table text-center">
              <thead>
                <tr>
                  <th>
                    <%= __('product')%>
                  </th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th>
                    <%= __('quantity')%>
                  </th>
                  <th>&nbsp;</th>
                  <th>
                    <%= __('total')%>
                  </th>
                  <th>
                    <%= __('subtotal')%>
                  </th>
                  <th>&nbsp;</th>
                </tr>
              </thead>
              <tbody>
                <% products.forEach( product=> { %> <% if(product !=null) {%>
                    <tr class="my-auto">
                      <td>
                        <a href="/products/<%=product.category.slug%>/<%=product._id%>">
                          <img src="<%=product.imagePath%>" class="img-small image-fluid product-img"
                            alt="image thumbnail" />
                        </a>
                      </td>
                      <td>
                        <div class="float-left mb-3">
                          <a class="title-link" href="/products/<%=product.category.slug%>/<%=product._id%>">
                            <h6 class="text-left">
                              <%= product.title %>
                            </h6>
                            <p class="text-left">
                              <u>
                                <%= __('product_code')%>
                              </u>: <%= product.productCode %>
                            </p>
                        </div>

                        </a>
                      </td>
                      <td class="text-center">
                        <a href="/add-to-cart/<%=product._id%>"><i class="fa fa-plus-square" aria-hidden="true"></i>
                        </a>
                      </td>
                      <td class="text-center">
                        <p class="qty-display pt-1">
                          <%= product.qty %>
                        </p>
                      </td>
                      <td class="text-center">
                        <a href="/reduce/<%=product._id%>"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
                      </td>
                      <td>€ <%= product.price %>
                      </td>
                      <td>€ <%= product.totalPrice %>
                      </td>
                      <td>
                        <a href="/removeAll/<%=product._id%>" class="btn btn-danger btn-sm">
                          <%= __('remove')%>
                        </a>
                      </td>
                    </tr>
                    <% } %>
                      <% }) %>
              </tbody>
            </table>
          </div>
        </div>
        <hr>
        <div class="row mt-4 mr-auto">
          <div class="col-md-11 col-sm-12 m-auto">
            <strong>
              <%= __('total')%>: <%= cart.totalCost %> €
            </strong>
          </div>
        </div>
        <div class="row mt-2 mr-auto">
          <div class="col-md-11 col-sm-12 m-auto">
            <a href="/checkout" class="btn btn-pink button-style">
              <%= __('checkout')%>
            </a>
          </div>
        </div>
        <% } else { %>
          <div class="row text-center">
            <div class="col-md-9 col-sm-9 m-auto">
              <h2>
                <%= __('no_item')%>
              </h2>
            </div>
          </div>

          <% } %>
    </div>

    <%- include ../partials/footer %>